@model List<MAJS.Models.Musica>
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Repertório
    </h1>
</section>



<section class="content">
    <div class="row">
        <div class="box box-solid">
            <div class="col-md-1 col-sm-12 col-xs-12">
                <button class="btn bg-purple" data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus"></i> Adicionar</button>
            </div>

        </div>
    </div>
    <hr />
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <!--Card box-->
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow">
                            <div class="widget-user-image">
                                <img class="img" style="width:70px" src="~/Content/img/notas.jpg" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">@item.Nome</h3>
                            <h5 class="widget-user-desc">Rock</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                @*<li><a href="#">Nome <span class="pull-right badge bg-blue">@item.Nome</span></a></li>*@
                                <li><a href="#">Letra <span class="pull-right badge bg-aqua"><i class="fa fa-wikipedia-w"></i></span></a></li>
                                <li><a href="#">Status <span class="pull-right badge bg-green">@item.AtivoNaoAtivo</span></a></li>
                                <li><a href="@item.DNotas" target="_blank">Download da Cifra <span class="pull-right badge bg-yellow"><i class="fa fa-music"></i></span></a></li>
                                <li><a href="@item.CVideo" target="_blank">Acessar Video <span class="pull-right badge bg-red"><i class="fa fa-youtube-play"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            }
        </div>
    </div>




    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Adicionar Nova Música</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("CadastrarRepertorio", "Repertorio")
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Letra</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("CadastrarRepertorio", "Repertorio")
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>

