@model List<MAJS.Models.Ensaio>
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Ensaios
    </h1>
    <h3>Próximos Eventos</h3>
</section>



<section class="content">
    <div class="row">
        <div class="box box-solid">

            <div class="col-md-1 col-sm-12 col-xs-12">
                <button class="btn bg-purple"  data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus"></i> Adicionar</button>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">

        @foreach (var item in Model)
        {
            @*<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-red">
                    <span class="info-box-icon bg-green"><i class="fa fa-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">@item.Titulo</span>
                        <span class="info-box-number">@item.Data</span>
                        <span class="info-box-number">@item.Hora</span>
                        <span class="info-box-number">@item.Local</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>*@

            <div class="col-sm-3">

                <div class="box">
                    <div class="box-header with-border">
                        <div class="info-box">
                            <span class="info-box-icon bg-purple"><i class="fa fa-calendar"></i></span>
                            <h3 class="profile-username text-center">@item.Titulo</h3>
                        </div>
                        <b>Data</b> <a class="pull-right">@item.Data.ToString("dd/MM/yyyy")</a>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body box-profile">
                        
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Hora</b> <a class="pull-right">@item.Hora</a>
                            </li>
                            <li class="list-group-item">
                                <b>Local</b> <a class="pull-right">@item.Local</a>
                            </li>
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <a href="@Url.Action("AlterarEnsaio", "Ensaio", new { id = item.IDEnsaios})" class="btn btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    @*<a href="@Url.Action("DeleteEvento", "Evento", new { id = item.IDEvento})" class="btn btn-danger">
                                        <i class="fa  fa-trash"></i>
                                      </a>*@
                                    <button type="button" idEvento="@item.IDEnsaios" class="btn btn-danger excluirEnsaio" data-toggle="modal" data-target="#modal-danger">
                                        <i class="fa  fa-trash"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row (main row) -->




</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Adicionar Novo Ensaio</h4>
            </div>
            <div class="modal-body">
                @Html.Action("CadastrarEnsaio", "Ensaio")
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
